{{> navbar}}
{{> message}}
<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurants as |restaurant|}}
          <a href="/restaurants/{{restaurant.id}}" class="text-secondary">
            <div class="card mb-3">
              <img class="card-img-top" src="{{restaurant.image}}" alt="{{restaurant.name}}" />
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{restaurant.name}}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fa-solid fa-language"></i>
                  {{restaurant.name_en}}
                </div>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i>
                  {{restaurant.category}}
                </div>
                <div class="restaurant-category mb-1">
                  <span class="badge rounded-pill bg-danger font-weight-normal">
                    {{restaurant.rating}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>
                </div>
                <div class="d-flex flex-row-reverse">
                    <form action="/restaurants/{{restaurant.id}}?_method=DELETE" method="post" style="display: inline; margin-block-end: 0;">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <form action="/restaurants/{{restaurant.id}}" method="get" style="display: inline; margin-block-end: 0;">
                      <button type="submit" class="btn btn-outline-success">Detail</button>
                    </form>
                    <form action="/restaurants/edit/{{restaurant.id}}" method="get" style="display: inline; margin-block-end: 0;">
                      <button type="submit" class="btn btn-outline-success">Edit</button>
                    </form>
                </div>
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{!-- pagination --}}
<div class="container mt-5">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <form action="/restaurants" method="GET" style="display: inline;">
          <input type="hidden" name="page" value="{{prev}}">
          <button class="page-link" type="submit">Previous</button>
        </form>
      </li>
      {{#times pageAmount}}
        <li class="page-item">
          <form action="/restaurants" method="GET" style="display: inline;">
            <input type="hidden" name="page" value="{{this}}">
            <button class="page-link" type="submit">{{this}}</button>
          </form>
        </li>
      {{/times}}
      <li class="page-item">
        <form action="/restaurants" method="GET" style="display: inline;">
          <input type="hidden" name="page" value="{{next}}">
          <button class="page-link" type="submit">next</button>
        </form>
      </li>
    </ul>
  </nav>
</div>